<div id="chat-body" class="d-flex flex-column h-100 scroll-shape">
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
  <app-me-message class="d-contents"></app-me-message>
  <app-they-message class="d-contents"></app-they-message>
</div>
