.they{
    background-color: #696e6e;
    position: relative;
    margin-left: 20px;
    align-self: flex-end !important;
    margin-right: 20px;
}

.they::after{
    content: '';
    background-color: #696e6e;
    width: 20px;
    height: 20px;
    position: absolute;
    bottom: 15px;
    right: -12px;
    z-index: 1;
    clip-path: polygon(0 0, 100% 100%, 0 100%);
    
}